.card {
  height: 5rem;
  width: 16rem;
  background-color: #a7aeb4;
  border: 1px solid black;
  border-radius: 10px;
  position: relative;
  margin: auto;
  margin-top: 2%;
}

.right-button {
  float: right;
  margin: 1%;
  background-color: beige;
  border: 1px solid black;
  border-radius: 50%;
}

.left-button {
  float: left;
  margin: 1%;
  background-color: beige;
  border: 1px solid black;
  border-radius: 50%;
}

p{
    font-size:0.8rem;
}